body{
    background-color: rgba(204, 204, 204, 0.836);
}

main{
    height: 650px;
    width: 1450px;
    margin-top: 120px;
    margin-left:auto;
    margin-right:auto;  
}

.gallery{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 20px 35px 0 rgba(0, 0, 0, .5);
}

#bt_viewer_left, #bt_viewer_right{
    height: 100%;
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    cursor: pointer;
}

.bt_viewer_left, .bt_viewer_right{
    height: 50px;
    width: 50px;
    opacity: 0.7;
}

.bt_viewer_left{
    transform: rotate(0.5turn);
}

#bt_viewer_left:hover{
    opacity: 0.3;    
}

#bt_viewer_right:hover{
    opacity: 0.3;
}

#photo{    
    height: 100%;
    width: 1300px;
    flex-grow: 1; 
    position: relative;
    object-fit: cover;
}

#gray-container{
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0px;
    width: 100%;
    opacity: 0.6;
    height: 155px;
    font-family: 'Lato', sans-serif;
}

.image_container{
    position: relative;
}

#photo-title{
    font-size: 28px;
    line-height:5px;
    margin: 30px;   
}

#photo-description{
    font-size: 20px;
    margin: 40px 0px 0px 30px;
}

.thumbnails{
    width: auto;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

